**/build
**/logs
*.log
**/npm-debug.log*
**/firebase-debug.log*
**/firebase-debug.*.log*
**/.firebase/
**/node_modules/
**/.env
**/.npmrc
**/node_modules/

**/.runtimeconfig.json

**/.DS_Store

.vscode/
*.swp
*.swo

package-lock.json
key.json
.idea
coverage
